/* You can add global styles to this file, and also import other style files */
@import "assets/scss/montserrat.scss";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.titulo-pagina {
  font-size: 18px !important;
}

.afinar {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.alinearBoton {
  margin-left: 300px;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #2a8dff !important;
}
